@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0:#f8c890;
    --cor1:#B0BEFF; /*outra alternativa #8DBAF0*/
    --cor2:#8799E6;
    --cor3:#4B5999;

    --font-padrao: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--cor2);
    font-family: var(--font-padrao);
}

header {
    text-align: center;
    color:white;
    padding: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

section {
    background-color: white;
    max-width: 450px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.37);
    padding: 20px 10px;
}

#dados {
    display: inline-block;
    max-width: 50%;
}

#dados p {
    margin-bottom: 10px;
}

#dados p input {
    padding: 1.5px;
    width: 100px;
}

#dados > input {
    margin-top: 8px;
    padding: 3px 4px;
    background-color: var(--cor0);
    border: 1px solid black;
    border-radius: 4px;
    transition-duration: 0.5s;
}

#dados > input:hover {
    background-color: #f8d3a8;
    transition-duration: 0.5s;
}

#midia {
    margin-top: -5px;
    display: inline-block;
    max-width: 50%;
    text-align: center;
    padding-left: 25%;
}

#midia img {
    margin-bottom: 11px;
    max-width: 100px;
}

#res > p {
    margin-top: 14px;
}

footer {
    margin-top: 15px;
    text-align: center;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor0);
}