@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(71, 67, 97);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    color:white;
    margin: 20px 0px;
}

section {
    display: block;
    margin: auto;
    max-width: 400px;
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.350);
    margin-bottom: 30px;
    text-align: center;
}

div {
    padding: 10px;
}

footer {
    text-align: center;
    color: white;
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(107, 253, 222);
    font-weight: bold;
}