@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --cor0:#a7d6ee;
    --cor1:#47BBF5;
    --cor2:#3894C2;
    --cor3:#3B657A;
    --cor4:#225A75;

    --fonteTitulo: 'Lato', sans-serif;
    --fontePadrao: 'Roboto', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--cor0);
}
p {
    font-family: var(--fontePadrao);
}
a {
    font-family: var(--fontePadrao);
}


header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
    padding: 20px;
}

header h1 {

    color:white;
    text-align: center;
    margin-bottom: 20px;
    font-family: var(--fonteTitulo);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.418);
    font-size: 2.4em;
}

header p {
    color:white;
    width: 200px;
    margin: auto;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.418);
    font-size: 1.2em;
}

nav {
    background-color: var(--cor4);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.26);
}

nav a {
    display: inline-block;
    text-decoration: none;
    color:white;
    margin: 0px 10px 5px 10px;
    padding: 10px;
}

nav a:hover {
    background-color: var(--cor2);
    transition-duration: 0.5s;
    border-radius: 6px;
}

main {
    background-color: white;
    max-width: 800px;
    margin: auto;
    padding: 15px;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.137);
}

main h1 {
    font-family: var(--fonteTitulo);
    font-size: 1.75em;
    margin-bottom: 40px;
}

section {
    margin: -15px;
}

article {
    display: inline-table;
    background-color: #a7d6ee62;
    border-radius: 10px;
    max-width: 380px;
    margin: 10px 0px 10px 20px;
}

article img {
    margin-right: 8px;
    max-width: 150px;
    border-radius: 10px;
}

article h3 {
    font-family: var(--fonteTitulo);
    margin: 5px 0px;
}

article p {
    margin: 0px 8px 0px 0px;
    text-align: justify;
}

footer {
    margin-top: 30px;
    background-color: var(--cor4);
    padding: 6px 0px;
}

footer p {
    text-align: center;
    color:white;
}

footer a {
    text-decoration: none;
    color:var(--cor0);
}

footer a:hover {
    text-decoration: underline;
}